<div>
    <div>Larrosa y asociados</div>
    <ul>
        <li>
            <p>Direccion: Conde 2005</p>
        </li>
        <li>
            <p>Horarios: 10 a 18hs</p>
        </li>
        <li>
            <p>Metodos de pago: Credito/Debito</p>
        </li>
    </ul>
</div>