body {
    background-color: rgb(255, 164, 72);
}

.cardContainer {
    border: 15px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    padding: 20px;
    min-height: fit-content;
}

.card {
    border: 2px solid gray;
    width: 120px;
    margin: 10px;
}

.price {
    display: flex;
    align-items: center;
    justify-content: center;
}

.maingestion {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.mainTableGestion {
    border: 2px dotted black;
}



.containerTabs {
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    justify-content: center;

}