<div class="containerTabs">
  <div class="tabsSelected">
    <div class="tabs4">
      <h3>Eliminar Producto</h3>
      <form class="formTabs" id="formDelete">
        <div class="inputTabs">
          <label for="idProducto">Id Producto</label>
          <span>Ingrese el ID del Producto a Eliminar</span>
          <input type="text" name="idProducto" id="productDelete" />
        </div>
        <div >
          <div class="btnFormTabs">
            <button id="btnEliminar">Eliminar</button>
          </div>
          <strong class="massaje" id="resDelete"></strong>
        </div>
      </form>
    </div>
  </div>
</div>